<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheResult="false" beStrictAboutOutputDuringTests="true" failOnWarning="true">
    <testsuites>
        <testsuite name="Magento2CacheWarmer">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include><directory suffix=".php">src</directory></include>
        <report><text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false" /></report>
    </coverage>
</phpunit>
